# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI / Backend
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
logs/
*.log
resources/logs/


# Testing
.pytest_cache/
.coverage
htmlcov/

# Docker 
*.pid

fake-data/data
locustfile.py
